#root {
  height: 100vh;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background-image: url('../../img/background-login.png');
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 2rem;
  h1 {
    font-size: 2em;
    font-weight: 500;
    color: var(--ion-color-primary-contrast);
  }
}

main {
  .ion-item {
    color: var(--ion-color-primary-contrast);
  }

  .error-container,
  .success-container {
    display: flex;
    justify-content: center;
    animation-name: drop;
    animation-duration: 0.4s;
    animation-timing-function: ease-in;

    p {
      padding: 0.8rem 3rem;
      width: 75%;
      text-align: center;
      font-size: 0.9rem;
      border: 1px solid #fff;
      background-color: #fff;
      border-radius: 7px;
      font-weight: 500;
    }
  }

  @keyframes drop {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  .redirect-signup-container {
    margin-top: 3rem;
    text-align: center;
    color: var(--ion-color-primary-contrast);

    p {
      cursor: pointer;
      font-size: 0.88rem;
      margin: 0;
    }

    h6 {
      cursor: pointer;
      margin-top: 0;
    }
    &:hover {
      transform: scale(1.2);
    }
    transition: all 0.5s ease;
  }

  .redirect-signin-container {
    margin-top: 1.5rem;
    text-align: center;
    color: var(--ion-color-primary-contrast);

    h6 {
      cursor: pointer;
      margin: 0;
      display: inline-block;
      &:hover {
        transform: scale(1.2);
      }
      transition: all 0.5s ease;
    }
  }

  .button-login {
    --background: var(--color-app-btn-login);
    font-size: 1.1rem;
  }
}
