.spinner-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-spinner-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-spinner-container {
  width: 100%;
  text-align: center;
}

ion-spinner {
  transform: scale(2);
}
